html {
	margin: 20px;
	background-color: #EDF5C8;
}

body {
	color: #333;
}


h1 {
	font-size: 50px;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 50px;
}

p {
	font-size: 20px;
}
