html {
	margin: 20px;
	background-color: #154360;
}

body {
	color: #000;
}


h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 20px;
}

p {
	font-size: 20px;
}
